@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

#fundo-img {
    background-attachment: fixed;
    background-size: 100%;
}

#div-nav {
    background-color: rgba(0, 77, 122, 0.822);
}

#a-font {
    color: white;
    margin-top: .4rem;
    font-size: 17px;
    font-weight: bold;
}

#nav-primaria {
    color: white;
}

#label-header {
    margin-top: .4rem;
}

#jumbotron {
    background-color: rgba(206, 205, 205, 0.705);
    margin-top: 8%;
    width: 51%;
    height: 25%;
    margin-left: 30%;
}

#btn-jumbo {
    background-color: rgb(0, 78, 122);
    border-color: rgb(0, 78, 122);
    font-weight: bold;
}